Xcursor.theme: X-Steel-GRAY

!XFT {{{
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hinting: true
Xft.hintstyle:  hintslight
Xft.antialias: true
Xft.rgba: rgb
Xft.dpi: 95
!}}}

! Input
preeditType:OverTheSpot,Root

! URxvt Settings {{{
URxvt*termName:rxvt-unicode-256color
URxvt.letterSpace:0
URxvt*borderLess:false
URxvt*perl-ext-common:default,-tabbed,matcher,-selection-popup,-option-popupi

URxvt*visualBell:false
URxvt*cursorBlink:true
URxvt*highlightSelection:true
URxvt*buffered:true
URxvt*saveLines:1500
URxvt*cutchars:@-./_~?&=%+#'"'()*,;<=>[]^{|}

! rxvt-unicode
URxvt.urgentOnBell:  true

! xterm
XTerm*bellIsUrgent:  true

URxvt.perl-ext-common: default,matcher
URxvt.urlLauncher: opera
URxvt.matcher.button: 1
URxvt.matcher.pattern.1: \\bwww\\.[\\w-]\\.[\\w./?&@#-]*[\\w/-]
!}}}

! Scroll and mousewheel {{{
XTerm*jumpScroll:true
XTerm*multiScroll:true
URxvt*jumpScroll:true
URxvt*skipScroll:true
URxvt*scrollBar:false
URxvt*scrollBar_right:false
URxvt*scrollstyle:plain
URxvt*secondaryScroll:true
URxvt*scrollTtyOutput:false
URxvt*scrollWithBuffer:true
URxvt*scrollTtyKeypress:true
URXvt*mouseWheelScrollPage:false
!}}}

! URxvt Fonts {{{
URxvt.font:xft:Erusfont:pixelsize=7,xft:IPAMonaGothic
!}}}

! URxvt Color Settings {{{
#include "/home/jari/.Xcolors/Colorshot"

URxvt*depth: 24
!URxvt*background:rgb:1000/1000/1000/cccc

URxvt*colorBD:            #ffffff
URxvt*cursorColor:        #ff8939
URxvt*cursorColor2:       #151515
! }}}
