* {
	engine:solidity;
	color:#CCC;
	background-color:#333;
	border-color:black;
	-solidity-radius:0;
	-solidity-gradient-top-color:rgba(0,0,0,0);
	-solidity-gradient-bottom-color:rgba(0,0,0,0.3);
	-solidity-reflection-color: rgba(255,255,255,0.0);
	-solidity-highlight-color:rgba(255,255,255,0.1);
	-solidity-shadow-color:rgba(0,0,0,0.2);
}
*:insensitive {
	color:#666;
}
*:selected {
	background-color:#3D6CCC;
}

/* Button */
.button {
	background-color:#4C4C4C;
}
.button:prelight {
	background-color:#666666;
}
.button:active, .button:active:prelight {
	background-color:#333;
}

/* Entry */
.entry {
	-solidity-gradient-bottom-color:rgba(0,0,0,0);
}

/* CheckButton and RadioButton */
.check, .menuitem.check,
.radio, .menuitem.radio {
	background-color:#4C4C4C;
}
.check:prelight, .radio:prelight {
	background-color:#666666;
}

/* Slider */
.slider {
	background-color:#4C4C4C;
}
.slider:prelight {
	background-color:#666666;
}
.slider:active:prelight {
	background-color:#333;
}

/* Switch */
GtkSwitch.trough:active {
	background-color:#3D6CCC;
}

/* other widgets */
.separator {
	-solidity-style:1;
}
.progressbar {
	background-color:#3D6CCC;
}
.trough {
	-solidity-gradient-top-color:rgba(0,0,0,0.3);
	-solidity-gradient-bottom-color:rgba(0,0,0,0.1);
}
.scrollbar {
	-GtkScrollbar-has-backward-stepper:0;
	-GtkScrollbar-has-forward-stepper:0;
	-GtkRange-slider-width:8;
}
.notebook, .notebook tab {
	background-color:#4C4C4C;
}
.view {
	background-color:#4C4C4C;
}
.rubberband {
	background-color:alpha(#333,0.5);
	border-color:alpha(black,0.5);
}

/* Menus */
.menu {
	padding:0;
}
.menuitem {
	background-color:#3D6CCC;
	-solidity-radius:5;
}

/* fixes (you probably want copy those if you're creating your own theme) */
GtkProgressBar {
	padding:0;
}
GtkNotebook {
	-GtkNotebook-tab-overlap:1;
}
.notebook tab {
	padding:0;
}
GtkMenu {
	-GtkMenu-vertical-padding:0;
}
GtkRange {
	-GtkRange-trough-border:0;
	-GtkRange-trough-under-steppers:0;
}
GtkSwitch {
	padding:0;
}
.separator {
	-GtkWidget-wide-separators:true;
	-GtkWidget-separator-width:2;
	-GtkWidget-separator-height:2;
}
