[General]
prog_ver=1.7.4
auto_install=FALSE
force_composite=FALSE
cairo_image=TRUE
cairo_balloon=TRUE
cairo_clock=TRUE
magnify=50
ip_style=2
font_clock=Aller 10
font_balloon=Aller 10
cons_check_mode=0
tar_command=tar -zxf %s -C %s
tray_icon_flag=FALSE

[ClockColor]
shadow_p=45056
bg_p=36864
text_r=5911
text_g=37779
text_b=53713

[BalloonColor]
bg_p=45056
text_r=5911
text_g=37779
text_b=53713

[Move]
relative_x=FALSE
offset=0
offsetp=0
ff_side=0
raise_force=FALSE
raise_kwin=FALSE
autobar2=0
no_capbar=FALSE
bar_size=0
bar_offset=0
homepos_nf=1
homepos_out=0
homepos_nb=1
home_auto=FALSE
home_auto_vanish=FALSE
home_x=1377
home_y=818

[Shadow]
flag=TRUE
x=2,3
y=2,3
alpha=40

[Signal]
type=0

[Biff]
type=0
pop-save=TRUE
ssl-mode=0
ssl-cert-skip=FALSE
ssl-nonblock=TRUE
interval=60
win-width=540
win-height=250
spam-check=TRUE
spam-mark=X-Spam-Flag: YES
pop-max-fs=40
tooltips=TRUE

[Duet]
use_click=TRUE
use_random=TRUE

[Sockmsg]
type=0
interval=1
expire_def=5000

